// SCSS Home 

// Masthead Section

body.home {
  background: $color-white;

  .inner {
    margin-bottom: 64px;

    @media (min-width: $bp-landscape) {
      margin-bottom: 128px;
    }
  }

  #masthead-section {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 0 20px;

    @media (min-width: $bp-landscape) {
      margin-bottom: 64px;
      height: 100vh;
      z-index: 99;
    }

    .inner {
      margin: 64px auto;
      max-width: $bp-desktop-l;

      @media (min-width: $bp-portrait) {
        width: 560px;
      }

      @media (min-width: $bp-landscape) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  
        margin: 0;
        height: 656px;
        width: calc(100% - 40px);
      }
    }

    .element-canvas {
      position: relative;
      width: 100%;
      display: block; 
      //border: 1px solid gold;

      @media (min-width: $bp-portrait) {
        width: 560px;
        height: 450px;
      }

      @media (min-width: $bp-landscape) {
        width: 100%;
        height: 656px;
      }

      @media (min-width: $bp-desktop-l) {
        width: 100%;
      }
    }
  }

  .element-computer-container {
    position: relative;
    width: 100%;
    display: block; 
    margin: 64px auto;

    @media (min-width: $bp-portrait) {
      width: 560px;
      height: 450px;
      margin: 0 auto;
    }

    @media (min-width: $bp-landscape) {
      padding-top: 206px;
      width: 560px;
      height: 656px;
      margin: 0 auto;
    }
  }

  // Portfolio Section

  #portfolio-section {
    padding: 0 20px;

    .project-list {
      display:flex; 
      flex-wrap: wrap;
      justify-content: space-between; 
    }

    article.featured { 
      display: inline-block;
      width: 100%;

      transition: .3s all;
      transform-origin: center center;
      transform: scale(.98);
      cursor: pointer;
      margin-bottom: 32px;

      @media (min-width: $bp-landscape) {
        margin-bottom: 64px;
      }
    }
  }

  // Introduction Section

  #introduction-section {
    padding: 0 20px;

    .introduction-text {
      box-sizing: border-box;
      width: 100%;
      display: inline-block;
      text-align: left;
      font-family: 'Roboto Mono', monospace;
      color: #333;
      position: relative;

      p {
        font-size: 16px;
        line-height: 28px;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;

        @media (min-width: $bp-landscape) {
          font-size: 28px;
          line-height: 48px;
        }
      }
    }

    .introduction-graphic {
      width: 100%;
      display: none;
      text-align: center;
      padding: 128px 0 0;

            @media (min-width: $bp-landscape) {
      display: inline-block;
      }
    }
  }
}

.home-message {
  font-size: 32px;
  line-height: 44px;
  color: $m1;
  font-weight: bold;
  text-align: left;
  z-index: 3;

  @media (min-width: $bp-portrait) {
    position: absolute;
    top: 0px;
    padding: 56px;
    text-align: center;
  }

  @media (min-width: $bp-landscape) {
    top: 208px;
  }
}

.element {
  stroke:$m1;
  stroke-width:4px;
  stroke-linecap:round;
  stroke-linejoin:round;
  display: inline-block;
  position: relative;
  fill: white;
  //display: none;

  @media (min-width: $bp-landscape) {
    position: absolute;
  }
}

.element-pineapple {
  width: 92px; //5.5%;
  bottom: 32px;
  left: 10%;
  display: none;
  z-index: 2;

  @media (min-width: $bp-desktop) {
    display: inline-block;
  }

  @media (min-width: $bp-desktop) {
    left: 15%;
  }    
}

.element-spaceshuttle {
  width: 296px;
  bottom: 484px;
  display: none;

  @media (min-width: $bp-desktop) {
    display: inline-block;
    right: 0%;
  }

  @media (min-width: $bp-desktop-l) {
    right: 5%;
  }

  @media (min-width: $bp-desktop-xl) {
    //right: 10%;
  }
}

.element-creative-lightbringer {
  width: 264px; //16%;
  fill: $m1;
  stroke: transparent;
  top: -32px;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;

    @media (min-width: $bp-desktop) {
    display: inline-block;
  }
}

.element-car {
  width: 296px;
  bottom: 484px;
  display: none;

  @media (min-width: $bp-desktop) {
    display: inline-block;
    left: 0%;
  }

  @media (min-width: $bp-desktop-l) {
   left: 5%;
  }

  @media (min-width: $bp-desktop-xl) {
    //left: 10%;
  }
}

.element-cityscape {
  width: 250px;
  bottom: 484px;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;

      @media (min-width: $bp-desktop) {
    display: inline-block;
  }
}

.element-pen {
  width: 28px;
  bottom: 484px;
  display: none;

  @media (min-width: $bp-desktop-l) {
    display: inline-block;
    left: 34%;
  }
}

.element-pencil {
  width: 20px;
  bottom: 484px;
  display: none;

  @media (min-width: $bp-desktop-l) {
    display: inline-block;
    right: 34%;
  }
}

.element-bagel {
  width: 311px; //20%;
  bottom: 32px;
  right: 9%;
  display: none;

  @media (min-width: $bp-desktop) {
    display: inline-block;
  }
}

.element-bounding-box-1 {
  width: 132px; //8%;
  bottom: 156px;
  left: 0%;
  display: none;

  @media (min-width: $bp-desktop-l) {
    display: inline-block;
  }
}

.element-bounding-box-2 {
  width: 132px; //8%;
  top: 206px;
  right: 0;
  display: none;

  @media (min-width: $bp-desktop) {
    display: inline-block;
  }
}

.element-cloud-left {
  width: 151px;
  z-index: 2;
  animation: bein-lazy 3s ease-in-out infinite;
  display: none;

  @media (min-width: $bp-landscape) {
    display: inline-block;
    top: 238px;
    right: calc(100% - 64px);
  }

  @media (min-width: $bp-desktop-l) {
    top: 265px;
  }
}

.element-cloud-right {
  width: 151px;
  z-index: 2;
  animation: bein-lazy 3s ease-in-out infinite;
  animation-delay: 1.5s;
  display: none;

  @media (min-width: $bp-landscape) {
    display: inline-block;
    bottom: 238px;
    left: calc(100% - 64px);
  }
}

.element-computer {
  position: relative;
  width: 560px;
  display: none;

  @media (min-width: $bp-portrait) {
    display: inline-block;
  }
}

.element-content-tile {
  width: 85px; //6%;
  bottom: 73px;
  left: 32%;
  transform: translate(-50%, 0);
  display: none;

  @media (min-width: $bp-desktop-l) {
    display: inline-block; 
  }
}

.element-dropdown {
  width: 150px; //9%;
    top: 206px;
    left: 5%;
  display: none;

  @media (min-width: $bp-desktop-l) {
    display: inline-block;
  }
}

.element-minus-icon {
  width: 34px; //2%;
 // transform: translate(0, -50%);
  display: none;

  @media (min-width: $bp-desktop-l) {
    display: inline-block;
    top: 367px;
    right: 5%;
  }
}

.element-plus-icon {
  width: 34px; //2%;
  transform: translate(0, -50%);
  display: none;

  @media (min-width: $bp-desktop-l) {
    display: inline-block;
    top: 49%;
    left: 5%;
  }
}

.element-pad-large {
  width: 132px;
  top: 50vh;
  left: 50%;
  transform: translate(-150%, 165%);
  display: none;

  @media (min-width: $bp-desktop-xl) {
    //display: inline-block;
  }
}

.element-pad-medium {
  width: 132px;
  top: 50vh;
  left: 50%;
  transform: translate(95%, 385%);
  display: none;

  @media (min-width: $bp-desktop-xl) {
    //display: inline-block;
  }
}

.element-pad-small {
  width: 84px;
  top: 50vh;
  left: 50%;
  transform: translate(75%, 350%);
  display: none;

  @media (min-width: $bp-desktop-xl) {
    //display: inline-block;
  }
}

.element-search {
  width: 150px; //9%;
  top: 445px;
  right: 5%;
  display: none;

  @media (min-width: $bp-desktop-l) {
    display: inline-block;
  }
}

.element-user-tile {
  width: 85px;
  top: 238px;
  right: 15%;
  display: none;

  @media (min-width: $bp-desktop-l) {
    display: inline-block;
  }
}

.element-lightning {
  width: 40px; //6%;
  position: relative;
  display: inline-block;
}

.element-diamond {
  width: 40px;
  top: 365px;
  right: 11%;
  display: none;

    @media (min-width: $bp-desktop-l) {
    display: inline-block;
  }
}

.element-kebab-tall {
  width: 72px;
  top: 314px;
  left: 10%;
  transform: rotate(90deg);
  display: none;

    @media (min-width: $bp-desktop-l) {
    display: inline-block;
  }
}

.element-kebab-wide {
  width: 72px;
    top: 489px;
    right: 28%;
  display: none;

    @media (min-width: $bp-desktop-l) {
    display: inline-block;
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: translateX(-50%) rotate(-360deg);
  }
}

@keyframes bein-lazy {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(0%, -15%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}


