// SCSS Home 

// Masthead Section

body.home {

  #masthead-section {
    font-family: $serif;
    height: auto;
    width: 100%;  
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    background: $m1;  

    @media (min-width: $bp-portrait) {
      padding: 0 30px;
      height: 100vh;
    }

    .inner {
      max-width: 1200px;

      @media (min-width: $bp-portrait) {
        padding: 0;
        height: 100%
      }
    }

    &.mobile {
      display: block;
      font-size: 24px;  
      text-align: center; 
      line-height: 32px;
      color: $color-white;

      @media (min-width: $bp-portrait) {
        display: none;
      }

      .headline-intro {
        margin-bottom: 5px;
        display: inline-block;

        span {
          font-weight: bold;
        }
      }

      .headline-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: $m2;

        li {
          margin-bottom: 5px;
          display: inline-block;

          &:after {
            content: '&';
            display: inline-block;
            color: $color-white;;
            margin: 0 10px;
            font-weight: normal;
          }

          &:last-child {

            &:after {
              display: none;
            }
          }
        }
      }
    }

    &.desktop {
      display: none;
      overflow: hidden;

      @media (min-width: $bp-portrait) {
        display: block;
      }

      @media (min-width: $bp-landscape) {
        font-size: 95px;   
      }

      &:before {
        background: url('../assets/crystal-vision-3.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top left;
        content: '';
        position: absolute;
        top: 10%;
        left: 25%;
        width: 125%;
        padding-top: 1335 / 1295 * 125%;
      animation: rotating 300s linear infinite;
      }

      .tagline {
        position: relative;
        transition: 1s all;
        font-size: 42px;
        transform: translateY(-35%);
        top: 50%; 
        opacity: 0;

        @media (min-width: 700px) {
          font-size: 50px;
        }

        @media (min-width: 800px) {
          font-size: 56px;
        }

        @media (min-width: 900px) {
          font-size: 64px;
        }

        @media (min-width: $bp-desktop) {
          font-size: 72px;
        }

        &.make-visible {
          opacity: 1;

          @media (min-width: $bp-portrait) {
            transform: translateY(-50%);
          }
        }
      }

      .tagline-intro {  
        display: inline-block;
        width: 100%;
        text-align: left;
        color: $color-white;
        margin-bottom: 15px;
        padding: 0 0 0 80px;

        @media (min-width: 700px) {
          padding: 0 0 0 90px;
        }

        @media (min-width: 800px) {
          padding: 0 0 0 110px;
        }

        @media (min-width: 900px) {
          padding: 0 0 0 130px;
        }

        @media (min-width: $bp-desktop) {
          padding: 0 0 0 160px;
        }

        @media (min-width: 1440px) {
          padding: 0 160px;
        }
      }

      .tagline-wheel {
        width: 60px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        transition: all .75s ease-out;
        cursor: pointer;
        color:  $color-white;;
        line-height: 60px;
        font-size: 60px;

        @media (min-width: 700px) {
          width: 70px;
          line-height: 70px;
          font-size: 70px;
        }

        @media (min-width: 800px) {
          width: 80px;
          line-height: 80px;
          font-size: 80px;
        }

        @media (min-width: 900px) {
          width: 100px;
          line-height: 100px;
          font-size: 100px;
        }

        @media (min-width: $bp-desktop) {
          width: 130px;
          line-height: 130px;
        }

        &:hover {
          opacity: .8;
        }
      } 

      .tagline-engine {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        padding: 0 0 0 80px;
        line-height: 60px;

        @media (min-width: 700px) {
          padding: 0 0 0 90px;
          line-height: 70px;
        }

        @media (min-width: 800px) {
          padding: 0 0 0 110px;
          line-height: 80px;
        }

        @media (min-width: 900px) {
          padding: 0 0 0 130px;
          line-height: 100px;
        }

        @media (min-width: $bp-desktop) {
          padding: 0 0 0 160px;
          line-height: 130px;
        }

        @media (min-width: 1440px) {
          padding: 0 160px;
        }
      }

      .tagline-scroll {
        margin: 0;
        padding: 0 5%;
        font-weight: bold;
        color: $m1;
        background: $color-white;
        border-radius: 5px;
        
        .slick-prev {
          display: none !important;
        }

        li {
          display: inline-block !important;
        }
      }
    }

    .down-arrow {
      display: none;
      position: absolute;
      bottom: 0;
      font-size: 70px;
      text-align: center;
      width: 100%;
      left: 0;
      color: $color-white;
      cursor: pointer;

      @media (min-width: $bp-landscape) {
        display: inline-block;
      }
    }
  }

  // Portfolio Section

  #portfolio-section {
    padding: 0 20px;

    @media (min-width: $bp-portrait) {
      padding: 0 30px;
    }

    @media (min-width: $bp-landscape) {
      padding: 0 40px;
    }

    .project-list {
      display:flex; 
      flex-wrap: wrap 
    }

    .inner {
      max-width: 1400px;
      padding-bottom: 30px;
    }

    article {
      width: 100%;
      text-align: left;
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      background: $color-white;
      cursor: pointer;
      margin-bottom: 30px;

      @media (min-width: $bp-landscape) {
        width: calc((1 /3 * 100%) - 27px);
        margin: 0 20px 40px;
      }

      &:nth-of-type(3n+1) {
        
        @media (min-width: $bp-landscape) {
          margin-left: 0;
        }
      }

      &:nth-of-type(3n) {
        
        @media (min-width: $bp-landscape) {
          margin-right: 0;
        }
      }

      &:hover {

        .project-thumbnail {

          &:after {
            opacity: .3;
          }
        }

        .cropped-image {
          filter: none !important; /* works for firefox */
          -webkit-filter: none !important; /*for chrome/ safari */
          -webkit-transition: none !important;
        }
      }

      .project-meta {
        display: inline-block;
        width: 100%;
        padding: 30px 30px 20px;
        box-sizing: border-box;
        color: $d1;
      }

      .project-thumbnail {
        display: inline-block;
        width: 100%;
        position: relative;
        overflow: hidden;
        vertical-align: top;
        border-bottom: 5px solid $m2;

        &:hover {
          opacity: 1;
        }

        .cropped-image {
          background: white;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          display: inline-block;
          width: 100%;
          height: 100%;
          -webkit-filter: saturate(0);
          filter: saturate(0);
          padding-top: 2 / 3 * 100%;
          vertical-align: top;
          transition: .3s all;
          -webkit-box-shadow: inset 0px 0px 100px -5px rgba(0,0,0,0.08);
          -moz-box-shadow: inset 0px 0px 100px -5px rgba(0,0,0,0.08);
          box-shadow: inset 0px 0px 100px -5px rgba(0,0,0,0.08);
        }

        &:after {
          content: '';
          display: inline-block;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          vertical-align: top;
          transition: background .3s;
          opacity: .5;
          background: transparent;
          transition: .3s all;
        }
      }

      .project-title {
        color: $d1;
      }

      .project-tags {

        span {
          background: $s1;
        }
      }

      &#geneva {

        .project-thumbnail {

          .cropped-image {
            background-image: url('../assets/geneva/thumbnail.png');
          }
        }
      }

      &#donation {

        .project-thumbnail {

          .cropped-image {
            background-image: url('../assets/donation/thumbnail.jpg');
          }

          &:after {
            background: $m3;
          }
        }
      }

      &#partners {

        .project-thumbnail {

          .cropped-image {
            background-image: url('../assets/partners/thumbnail.jpg');
          }

          &:after {
            background: $m3;
          }
        }
      }

      &#rye {

        .project-thumbnail {

          .cropped-image {
            background-image: url('../assets/rye/rye-masthead.jpg');
          }
        }
      }

      &#wyndcroft {

        .project-thumbnail {

          .cropped-image {
            background-image: url('../assets/wyndcroft/home-masthead.jpg');
          }
        }
      }

      &#asheville {

        .project-thumbnail {

          .cropped-image {
            background-image: url('../assets/asheville/asheville-masthead.jpg');
          }
        }
      }

      &#solutions {

        .project-thumbnail {

          .cropped-image {
            background-image: url('../assets/solutions/thumbnail.jpg');
          }

          &:after {
            background: $m3;   
          } 
        }
      }

      &#prestonwood {

        .project-thumbnail {

          .cropped-image {
            background-image: url('../assets/prestonwood/thumbnail.jpg');   
          } 
        }
      }

      &#griffon-station {

        .project-thumbnail {

          .cropped-image {
            background-image: url('../assets/griffon-station/thumbnail.jpg');   
          } 
        }
      }

      &#fivetwelve{

        .project-thumbnail {

          .cropped-image {
            background-image: url('../assets/fivetwelve/thumbnail.jpg');   
          } 
        }
      }
    }
  }

  // Introduction Section

  #introduction-section {
    padding: 0 20px;
    background: $color-white;

    .inner {
      max-width: 960px;
      margin: 0 auto;
      padding: 80px 0;

      @media (min-width: $bp-portrait) {
        display: flex;
      }
    }

    .introduction-image {
      width: 100%;
      display: inline-block;
      float: left;
      padding: 0 20px;
      box-sizing: border-box;

      @media (min-width: 600px) {
        width: 20%;
        padding: 0;
      }

      span {
        width: 100%;
        display: block;
        background-image: url('../assets/headshot.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding-top: 100%;
        border-radius: 100%;
        box-sizing: border-box;
        margin: 0 auto 30px;

        @media (min-width: $bp-landscape) {
          margin: 0;
        }
      }

      &:before {
        content: '';
        display: inline-block;
        width: 100%;
        padding-top: 100%;
        vertical-align: top;
        display: none;
      }
    }

    .introduction-text {
      box-sizing: border-box;
      width: 100%;
      display: inline-block;
      text-align: center;
      font-family: $serif;
      color: $d1-light;
      position: relative;

      p {
        font-size: 18px;
        line-height: 30px;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;

        @media (min-width: $bp-landscape) {
          padding: 0 0 0 60px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          font-size: 24px;
          line-height: 36px;
        }
      }

      @media (min-width: $bp-landscape) {
        width: 80%;
      }
    }
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(-360deg);
  }
}

