// SCSS Redirect

body.redirect {

  .staticrypt-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  .passphrase-input {
    background: $color-white;
    line-height: 44px;
    padding: 0 20px;
    margin-bottom: 20px;
    box-shadow: none;
    border: 1px solid $d2;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    box-shadow:none;
    background-image:none;
    font-family: $serif;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .staticrypt-decrypt-button {
    margin-top: 0;
    font-family: $sans-serif;
    display: block;
    color: $m1;
    font-size: 28px;
    line-height: 40px;
    background: transparent;
    border: none;
    font-weight: bold;
    width: 100%;

    &:hover {
      color: $m2;
    }

    &:focus {
      outline: none;
    }
  }
}

