// Content

.project-tags {
  display: inline-block;
  width: auto;
  margin-bottom: 20px;

  span {
    border: 1px solid $d2;
    border-right: none;
    line-height: 14px;  
    padding: 10px 10px;
    display: inline-block;
    width: auto;
    text-align: center;
    color: $d1;
    position: relative;
    margin-right: 36px;
    margin-bottom: 8px;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%) rotate(45deg);
      width: 24px;
      height: 24px;
      border: 1px solid $d2;
      border-left: none;
      border-bottom: none;
    }
  }
}

.layout-treatment {
  display: inline-block;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;

  @media (min-width: $bp-landscape) {
    margin: 0 -20px; 
    width: calc(100% + 40px);
  }

  &.half-width {
    width: calc(100% + 40px);
    margin: 0 -20px 32px;
    text-align: center;

    @media (min-width: $bp-full) {
      width: calc(100% + 200px);
      margin: 32px -100px;
    }

    >div {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      float: left;
      margin-bottom: 32px;

      @media (min-width: $bp-landscape) {
        width: 50%;  
        padding: 0 20px;
      }
    }

    img, iframe {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 16px;
      border: 1px solid rgba($d1,0.25);
    }

    .caption {
      width: 100%;
      max-width: 960px;
      width: calc(100% - 40px);

      @media (min-width: $bp-full) {
        width: calc(100% - 200px);
      }
    }
  }

  &.extended-image {
    width: calc(100% + 40px);
    margin: 0 -20px 32px;
    text-align: center;

    @media (min-width: $bp-full) {
      width: calc(100% + 200px);
      margin: 32px -100px;
    }

    img, iframe {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 16px;
      border: 1px solid rgba($d1,0.25);
    }

    .caption {
      width: 100%;
      max-width: 960px;
      width: calc(100% - 40px);

      @media (min-width: $bp-full) {
        width: calc(100% - 200px);
      }
    }
  }

   &.reduced-image {
    width: 100%;
    margin: 0 auto 32px;
    text-align: center;

    img {
      width: 100%;

      @media (min-width: $bp-portrait) {
        width: 50%;
        margin: 20px auto;
      }
    }
  }
}

.page-title {
  border-bottom: 4px solid $m1;
  margin-bottom: 32px;
}

.action-area {
  display: inline-block;
  width: 100%;
  border-top: 4px solid $m1;
  padding: 32px 0;
  margin: 32px 0;

  @media (min-width: $bp-portrait) {
    margin: 44px 0 0;
  }
}

.project-point {
  display: inline-block;
  width: 50%;
  position: relative; 
  float: left; 

  &.prev {
    text-align: left;

    i {
      padding-right: 8px;

          @media (min-width: $bp-portrait) {
      padding-right: 16px;
    }
    }
  }

  &.next {
    text-align: right;

    i {
      padding-left: 8px;

          @media (min-width: $bp-landscape) {
      padding-left: 16px;
    }
    }
  }

  h3 {
    color: $m1;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    color: $m1;
    line-height: 32px;
    font-size: 16px;

    @media (min-width: $bp-landscape) {
      font-size: 28px;
      margin-bottom: 16px;
    }
  }

  p {
    display: none;

    @media (min-width: $bp-landscape) {
      display: inline-block;
    }
  }
}

.caption {
  display: inline-block;
  width: 100%;
  font-style: italic;
  font-size: 14px;
  margin: 0 20px;
  opacity: .75;
  text-align: center;
}

section {
  display: block;
  overflow: auto;
  overflow-x: hidden;

  &.main-column {
    padding: 0 20px;


  }
}

.inner {
  max-width: 960px;
  display: block;   
  position: relative;
  margin: 0 auto 128px;

  .main-column & {
    margin-bottom: 0;
  }
}

article {
  margin-bottom: 64px;

  &:last-child {
    margin-bottom: 0;
  }
}

header {
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 16px 20px;
}

.return {
  display: inline-block;
  float: left;

  svg {
    width: 52px;
    fill: $d1;  

    @media (min-width: 600px) {
      width: 52px;
    }
  }
}  


.fa-heart {
  color: $m1;
}

#footer {
  padding: 0 20px;

  .inner {
    border-top: 4px solid $m1;
    padding-top: 64px;

    @media (min-width: $bp-landscape) {
      padding-top: 128px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      margin-right: 12px;
      display: inline-block;
      float: left;

      &:after {
        content: '/';
        margin-left: 12px;
      }

      &:last-child {

        &:after {
          display: none;
        }
      }
    }
  }

/*  a {

    &:before {
      font-family: icomoon;
      margin-right: 10px;
    }


    &.resume-link {

      &:before {
      content: "\e902";
      }

    }

    &.github-link {

            &:before {
      content: "\e900";
      }

    }

    &.linkedin-link {

            &:before {
      content: "\e900";
      }

    }
  }*/

  .footer-content {
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;

    @media (min-width: $bp-landscape) {
      flex-flow: nowrap row;
    }
  }

  .contact-component,  .info-component, .social-component {
    display: inline-block;
    width: 100%;
    margin-bottom: 32px;

    @media (min-width: $bp-landscape) {
      text-align: left;
      width: 45%;
      margin-bottom: 0;
    }
  }
}



.button {
  font-size: 18px;
  line-height: 24px;  
  padding: 8px 15px;
  border-radius: 3px;
  background: $m1;
  display: inline-block;
  width: auto;
  text-align: center;
  color: $color-white;
  transition: .3s all;
  margin: 0 5px;
  min-width: 40px;
  box-sizing: border-box;
  vertical-align: top;

  &:hover {
    background: darken($m1, 5%)
  }

  &.icon {
    font-size: 22px;
    padding: 8px;
  }

  &.read-more {

    i {
      margin-left: 10px;
    }
  }
}
