// Content

.project-tags {
  display: inline-block;
  width: auto;

  span {
    font-size: 18px;
    line-height: 14px;  
    padding: 8px 10px;
    border-radius: 3px;
    background: $color-white;
    display: inline-block;
    width: auto;
    text-align: center;
    color: rgba($d1,.6);
    transition: .3s all;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 15px 25px 0;

    @media (min-width: $bp-portrait) {
      font-size: 14px;
    }
  }
}

.layout-treatment {
  display: inline-block;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;

  @media (min-width: $bp-landscape) {
    margin: 0 -20px; 
    width: calc(100% + 40px);
  }

  >h1, >h2, >h3, >h4, >h5, >h6 {
    @media (min-width: $bp-landscape) { 
      padding: 0 20px;
    }
  }

  &.half-width {

    >div {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      float: left;

      @media (min-width: $bp-landscape) {
        width: 50%;  
        padding: 0 20px;
      }

      p:last-child {
        margin-bottom: $paragraph-margin-bottom;
      }
    }
  }

  &.button-accom {

    >div {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      float: left;
      margin-bottom: 30px;

      @media (min-width: $bp-landscape) { 
        padding: 0 20px;
        width: 40%;
      }

      &:last-child {
        text-align: center;

        @media (min-width: $bp-landscape) { 
          width: 20%;
          padding: 0;
          text-align: right;
        }
      }
    }
  }

  &.extended-image {
    width: calc(100% + 40px);
    margin: 20px -20px;
    background-color: $color-white;
    overflow: hidden;

    @media (min-width: $bp-portrait) {
      width: calc(100% + 60px);
      margin: 20px -30px;
    }

    img {
      border: 40px solid $color-white;
      border-bottom: 20px solid $color-white;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.centered {
  text-align: center;
}

.page-title {
  border-bottom: 3px solid $m2;
  margin-bottom: 30px;

  h1 {
    margin-bottom: 15px;
    color: $m1;
  }

  h5 {
    margin-bottom: 10px;
  }
}

.action-area {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border-top: 4px solid $m2;
  padding-top: 30px;

  @media (min-width: $bp-portrait) {
    padding-top: 40px;
    margin-top: 20px;
  }
}

a.project-point {
  display: inline-block;
  width: 50%;
  position: relative; 
  float: left; 
  box-sizing: border-box;
  color: $d1;
  font-weight: normal;
  font-style: italic;
  font-size: 0;

  @media (min-width: $bp-portrait) {
    font-size: 16px;
  }

  strong {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: $m1;
    line-height: 30px;
  }

  &.prev {
    text-align: left;
    padding-left: 35px;

    i {
      left: 0;
      text-align: left;
    }
  }

  &.next {
    text-align: right;
    padding-right: 35px;

    i {
      right: 0;
      text-align: right;
    }
  }

  i {
    position: absolute;
    top: 0;
    width: 35px;
    font-size: 30px;
    color: $m2;
  }
}

.caption {
  display: inline-block;
  width: 100%;
  font-style: italic;
  font-size: 14px;
  margin: 0 10px 20px;
  opacity: .75;
  text-align: center;
}

section {
  display: block;
  overflow: auto;
  overflow-x: hidden;

  &.main-column {
    padding: 0 20px;

    .inner {
      max-width: 1200px;
    }
  }
}

.inner {
  display: block;   
  padding: 50px 0;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}

.section-header {
  text-align: center;
}

a.button {
  font-size: 18px;
  line-height: 24px;  
  padding: 8px 15px;
  border-radius: 3px;
  background: $m1;
  display: inline-block;
  width: auto;
  text-align: center;
  color: $color-white;
  transition: .3s all;
  margin: 0 5px;
  min-width: 40px;
  box-sizing: border-box;
  vertical-align: top;

  &:hover {
    background: darken($m1, 5%)
  }

  &.icon {
    font-size: 22px;
    padding: 8px;
  }

  &.read-more {

    i {
      margin-left: 10px;
    }
  }
}

header {
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: auto;
  vertical-align: top;

  body.home & {
    background: $m2;

    @media (min-width: $bp-portrait) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background: transparent;
    }
  }
}

.logo {
  display: inline-block;
  float: left;
  padding: 20px;

  @media (min-width: 600px) {
    padding: 15px 30px;
  }

  svg {
    width: 40px;
    fill: $d1;

    body.home & {
      fill: $color-white;
    }

    @media (min-width: 600px) {
      width: 50px;
    }
  }
}  

nav.main {
  width: auto;
  display: inline-block;
  float: right;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  text-align: right;

  @media (min-width: 600px) {
    padding: 0px 30px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;

    &:first-child {

      a {
        padding-left: 0;
      }
    }
  }

  a {
    line-height: 80px;
    text-transform: uppercase;
    font-weight: 600;
    color: $d1;
    display: inline-block;
    padding-left: 20px;

    @media (min-width: $bp-portrait) {
      line-height: 86px;
      font-size: 16px;
    }

    body.home & {
      color: $color-white;
    }
  }
}  

// Masthead Section

.wrapper {

  body.home & {
    padding: 0;

    @media (min-width: $bp-portrait) {
      padding: 0;
    }
  }
}

.content {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;

  body.home & {
    padding: 0;
    max-width: 100%;

    @media (min-width: $bp-portrait) {
      padding: 0;
    }
  }
}

article {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }

  .article-details {
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
  }
}

.fa-heart {
  color: $m3;
}

#footer {
  background: $m1;
  color: $color-white;
  padding: 0 20px;

  .inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    overflow: auto;
  }

  a {
    color: $color-white;
    font-weight: 700;

    &.button {
      background: $color-white;
      color: $m2;
    }
  }

  h4 {
    margin-bottom: 20px;
    width: 100%;
  }

  .contact-component,  .info-component, .social-component {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    margin-bottom: 30px;

    @media (min-width: $bp-landscape) {
      text-align: left;
      margin-bottom: 0;
    }
  }

  .contact-component {

    @media (min-width: $bp-landscape) {
      width: 40%;
      padding-right: 50px;
    }

    @media (min-width: $bp-desktop) {
      width: 40%;
      padding-right: 100px;
    }

    .resume-link {
      text-transform: uppercase;
    }
  }

  .info-component {

    @media (min-width: $bp-landscape) {
      width: 40%;
      padding-right: 50px;
      padding-top: 76px;
    }

    @media (min-width: $bp-desktop) {
      width: 40%;
      padding-right: 100px;
    }
  }

  .social-component {
    margin-bottom: 0;

    @media (min-width: $bp-landscape) {
      width: 20%;
      padding-top: 76px;
      text-align: right;
    }

    a {
      background: $color-white;
      color: $m1;
      display: inline-block;
      width: 50px;
      border-radius: 100%;
      text-align: center;
      cursor: pointer;
      margin: 0 5px;
      line-height: 50px;
      font-size: 24px;

      @media (min-width: $bp-landscape) {
        margin: 0 10px 0 0;
      }
    }
  }
}